In [3]:
import pandas as pd

In [2]:
melb_data = pd.read_csv('data/melb_data.csv')
melb_data['Car'] = melb_data['Car'].astype('int64')
melb_data['Bedroom'] = melb_data['Bedroom'].astype('int64')
melb_data['Bathroom'] = melb_data['Bathroom'].astype('int64')
melb_data['Propertycount'] = melb_data['Propertycount'].astype('int64')
melb_data['YearBuilt'] = melb_data['YearBuilt'].astype('int64')

In [6]:
melb_df = melb_data.copy()
display(melb_df.head())

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,"-37.8072, 144.9941"

In [7]:
ufo_df = pd.read_csv('data/ufo.csv')
ufo_df

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
3,Abilene,NaN,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00
...,...,...,...,...,...
18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00
18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00
18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59

In [18]:
# ufo_df = pd.to_datetime(ufo_df['Time'])
# ufo_df['Time']
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv')
display(df)
display(df['Time'])

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
3,Abilene,NaN,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00
...,...,...,...,...,...
18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00
18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00
18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59

0          6/1/1930 22:00
1         6/30/1930 20:00
2         2/15/1931 14:00
3          6/1/1931 13:00
4         4/18/1933 19:00
               ...
18236    12/31/2000 23:00
18237    12/31/2000 23:00
18238    12/31/2000 23:45
18239    12/31/2000 23:45
18240    12/31/2000 23:59
Name: Time, Length: 18241, dtype: object

In [22]:
df['Time'] = pd.to_datetime(df.Time)
display(df['Time'])
display(df['Time'].dt.year.mode()[0])

0       1930-06-01 22:00:00
1       1930-06-30 20:00:00
2       1931-02-15 14:00:00
3       1931-06-01 13:00:00
4       1933-04-18 19:00:00
                ...
18236   2000-12-31 23:00:00
18237   2000-12-31 23:00:00
18238   2000-12-31 23:45:00
18239   2000-12-31 23:45:00
18240   2000-12-31 23:59:00
Name: Time, Length: 18241, dtype: datetime64[ns]

1999

In [39]:
# delta = df[df['State'] == 'NV'].iloc[-1, -1] - df[df['State'] == 'NV'].iloc[-2, -1]
# delta = delta.days
# delta

df['Date'] = df['Time'].dt.date
print(df[df['State']=='NV']['Date'].diff().dt.days.mean())

68.92932862190813

In [140]:
# 6. Закрепление знаний

df = pd.read_csv('data/citibike-tripdata.csv')
display(df)

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.8460,2018-09-05 19:15:51.4940,494.0,W 26 St & 8 Ave,40.747348,-73.997236,448.0,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,1990,2
299996,2018-09-05 19:08:28.3700,2018-09-05 19:20:01.5080,3016.0,Kent Ave & N 7 St,40.720368,-73.961651,3086.0,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1982,1
299997,2018-09-05 19:08:27.5090,2018-09-05 19:13:40.5060,3686.0,Gansevoort St & Hudson St,40.739448,-74.005070,168.0,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1991,1
299998,2018-09-05 19:08:29.2300,2018-09-05 20:04:29.3220,254.0,W 11 St & 6 Ave,40.735324,-73.998004,499.0,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,1975,0
299999,2018-09-05 19:08:29.7110,2018-09-05 19:12:14.7620,3496.0,1 Ave & E 110 St,40.792327,-73.938300,3502.0,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1966,1

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [141]:
df['start station name'].count() - df.shape[0]

-169

In [142]:
type(df['starttime'].dtype)

numpy.dtype[object_]

In [143]:
df['start station id'].mode()[0]

281.0

In [144]:
display(df['bikeid'].value_counts(normalize=True))
df['bikeid'].mode()

33887    0.000357
34358    0.000347
34159    0.000343
34258    0.000343
33916    0.000340
           ...
18587    0.000003
17324    0.000003
29593    0.000003
33157    0.000003
25794    0.000003
Name: bikeid, Length: 10004, dtype: float64

0    33887
Name: bikeid, dtype: int64

In [145]:
# v1
display(df['usertype'].value_counts(normalize=True))
round(df['usertype'].value_counts(normalize=True).max(), 2)

Subscriber    0.774007
Customer      0.225993
Name: usertype, dtype: float64

0.77

In [85]:
# v2

most_type = df['usertype'].mode()[0]
display(most_type)
round(df[df['usertype'] == most_type].shape[0] / df.shape[0], 2)

'Subscriber'

0.77

In [146]:
# v1
df['gender'].value_counts()
most_sex = df[df['gender'] != 0]['gender'].mode()[0]
df[df['gender'] == most_sex].shape[0]

183582

In [98]:
# v2
male_count = df[df['gender'] == 1].shape[0]
female_count = df[df['gender'] == 0].shape[0]
print(max([male_count, female_count]))

183582

In [147]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [123]:
display(df['start station name'].describe())
display(df['end station name'].describe())

count                                299831
unique                                  759
top       Grand Army Plaza & Central Park S
freq                                   1928
Name: start station name, dtype: object

count                    299831
unique                      765
top       West St & Chambers St
freq                       1963
Name: end station name, dtype: object

In [116]:
df.describe()

,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,299831.000000,300000.000000,300000.000000,299831.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000
mean,1695.665665,40.737769,-73.982042,1684.624298,40.737294,-73.982330,26688.525943,1979.364803,1.108647
std,1458.264055,0.031999,0.020207,1457.549589,0.031794,0.020261,6271.691143,11.920796,0.613398
min,72.000000,40.655400,-74.025353,72.000000,40.655400,-74.083639,14529.000000,1885.000000,0.000000
25%,387.000000,40.716226,-73.995991,387.000000,40.716059,-73.996621,20569.000000,1969.000000,1.000000
50%,519.000000,40.737262,-73.985162,519.000000,40.737050,-73.985649,28197.000000,1982.000000,1.000000
75%,3282.000000,40.760683,-73.970416,3282.000000,40.760094,-73.971092,32216.000000,1989.000000,1.000000
max,3705.000000,40.869000,-73.878000,3705.000000,40.869000,-73.878000,34863.000000,2002.000000,2.000000

In [114]:
print(df['birth year'].value_counts().index.max())
print(2018 - df['birth year'].max())

2002
16

In [109]:
# Самой непопулярной стартовой стоянкой
df['start station name'].value_counts().index[-1]

'Eastern Pkwy & Washington Ave'

In [122]:
df['end station name'].mode()
df['end station name'].describe()

count                    299831
unique                      765
top       West St & Chambers St
freq                       1963
Name: end station name, dtype: object

In [148]:
df_data = df.copy()

In [152]:
df_data = df_data.drop(['start station id', 'end station name'], axis=1)
df_data.info()
df_data.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station id           299831 non-null  float64
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  gender                   300000 non-null  int64
 11  age                      300000 non-null  int64
dtypes: float64(5), int64(3), object(4)
memory usage: 27.5+ MB

(300000, 12)

In [153]:
# df_data['age'] = df_data['birth year'].apply(lambda x: 2018 - x)
# df_data = df_data.drop('birth year', axis=1)
df_data.info()
df_data['age'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station id           299831 non-null  float64
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  gender                   300000 non-null  int64
 11  age                      300000 non-null  int64
dtypes: float64(5), int64(3), object(4)
memory usage: 27.5+ MB

49     43959
30     12551
28     12051
29     11704
27     11640
       ...
129        1
103        1
82         1
109        1
111        1
Name: age, Length: 91, dtype: int64

In [135]:
df_data[df_data['age'] > 60].shape[0]

11837

In [139]:
df_data.info()

<class 'pandas.core.series.Series'>
RangeIndex: 300000 entries, 0 to 299999
Series name: starttime
Non-Null Count   Dtype
--------------   -----
300000 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 2.3 MB

In [154]:

display(df_data['starttime'])
df_data['starttime'] = pd.to_datetime(df_data['starttime'], dayfirst=False)
display(df_data['starttime'])
df_data.info()

0         2018-09-01 00:00:05.2690
1         2018-09-01 00:00:11.2810
2         2018-09-01 00:00:20.6490
3         2018-09-01 00:00:21.7460
4         2018-09-01 00:00:27.3150
                    ...
299995    2018-09-05 19:08:27.8460
299996    2018-09-05 19:08:28.3700
299997    2018-09-05 19:08:27.5090
299998    2018-09-05 19:08:29.2300
299999    2018-09-05 19:08:29.7110
Name: starttime, Length: 300000, dtype: object

0        2018-09-01 00:00:05.269
1        2018-09-01 00:00:11.281
2        2018-09-01 00:00:20.649
3        2018-09-01 00:00:21.746
4        2018-09-01 00:00:27.315
                   ...
299995   2018-09-05 19:08:27.846
299996   2018-09-05 19:08:28.370
299997   2018-09-05 19:08:27.509
299998   2018-09-05 19:08:29.230
299999   2018-09-05 19:08:29.711
Name: starttime, Length: 300000, dtype: datetime64[ns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  datetime64[ns]
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station id           299831 non-null  float64
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  gender                   300000 non-null  int64
 11  age                      300000 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(3), object(3)
memory usage: 27.5+ MB

In [155]:
display(df_data['stoptime'])
df_data['stoptime'] = pd.to_datetime(df_data['stoptime'], dayfirst=False)
display(df_data['stoptime'])
df_data.info()

0         2018-09-01 00:27:20.6340
1         2018-09-01 00:02:23.4810
2         2018-09-01 00:55:58.5470
3         2018-09-01 00:07:38.5830
4         2018-09-01 02:21:25.3080
                    ...
299995    2018-09-05 19:15:51.4940
299996    2018-09-05 19:20:01.5080
299997    2018-09-05 19:13:40.5060
299998    2018-09-05 20:04:29.3220
299999    2018-09-05 19:12:14.7620
Name: stoptime, Length: 300000, dtype: object

0        2018-09-01 00:27:20.634
1        2018-09-01 00:02:23.481
2        2018-09-01 00:55:58.547
3        2018-09-01 00:07:38.583
4        2018-09-01 02:21:25.308
                   ...
299995   2018-09-05 19:15:51.494
299996   2018-09-05 19:20:01.508
299997   2018-09-05 19:13:40.506
299998   2018-09-05 20:04:29.322
299999   2018-09-05 19:12:14.762
Name: stoptime, Length: 300000, dtype: datetime64[ns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  datetime64[ns]
 1   stoptime                 300000 non-null  datetime64[ns]
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station id           299831 non-null  float64
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  gender                   300000 non-null  int64
 11  age                      300000 non-null  int64
dtypes: datetime64[ns](2), float64(5), int64(3), object(2)
memory usage: 27.5+ MB

In [175]:
# display(df_data['stoptime'].iloc[3].dt.minute - df_data['starttime'].iloc[3].dt.minute)
display(df_data['stoptime'].dt.minute.iloc[3] -  df_data['starttime'].dt.minute.iloc[3])
display(df_data['stoptime'].dt.minute -  df_data['starttime'].dt.minute)
display(df_data['stoptime'].dt.minute.iloc[3] -  df_data['starttime'].dt.minute.iloc[3])
display(df_data['starttime'].dt.minute.iloc[3])
display(df_data['stoptime'].describe())
display(df_data['starttime'].describe())

7

0         27
1          2
2         55
3          7
4         21
          ..
299995     7
299996    12
299997     5
299998    -4
299999     4
Length: 300000, dtype: int64

7

0

C:\Users\Eduard\AppData\Local\Temp\ipykernel_832\1692873691.py:6: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  display(df_data['stoptime'].describe())

count                         300000
unique                        299813
top       2018-09-04 17:51:07.911000
freq                               2
first     2018-09-01 00:02:23.481000
last      2018-09-30 00:54:32.817000
Name: stoptime, dtype: object

C:\Users\Eduard\AppData\Local\Temp\ipykernel_832\1692873691.py:7: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  display(df_data['starttime'].describe())

count                         300000
unique                        299836
top       2018-09-02 13:59:41.777000
freq                               2
first     2018-09-01 00:00:05.269000
last      2018-09-05 19:08:29.711000
Name: starttime, dtype: object

In [250]:
# df_data['trip duration'] = df_data['stoptime'] -  df_data['starttime']
# dlt = df_data['trip duration'].copy()
# dlt = dlt.astype('datetime64')
# dlt
df_data.loc[3, 'trip duration']

Timedelta('0 days 00:07:16.837000')

In [191]:
df_data.info()
# df_data['weekend'] = df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 13 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  datetime64[ns]
 1   stoptime                 300000 non-null  datetime64[ns]
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station id           299831 non-null  float64
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  gender                   300000 non-null  int64
 11  age                      300000 non-null  int64
 12  trip duration            300000 non-null  timedelta64[ns]
dtypes: datetime64[ns](2), float64(5), int64(3), object(2), timedelta64[ns](1)
memory usage: 29.8+ MB

In [209]:
# mask = (df_data['starttime'].dt.day_of_week == 5) | (df_data['starttime'].dt.day_of_week == 6)
days_weekend = [5, 6]
# df_data['weekend']
df_data['weekend'] = df_data['starttime'].dt.day_of_week.apply(lambda x: 1 if x in days_weekend else 0)
df_data['weekend'].describe()
df_data['weekend'].value_counts()

0    184865
1    115135
Name: weekend, dtype: int64

In [246]:
# df_data['time_of_day']

print(type(df_data['starttime'].dt.hour))
print(type(df_data['starttime']))
print(df_data['starttime'].dt.hour)
print(df_data.info())

def get_daytime(data: pd.Timestamp):
    # print(type(data.hour))
    # print(type(data))
    
    if data.hour in [0, 1, 2, 3, 4, 5, 6]:
        # print(data.hour)
        return 'night'
    if data.hour in [7, 8, 9, 10, 11, 12]:
        # print(data.hour)
        return 'motning'
    if data.hour in [13, 14, 15, 16, 17, 18]:
        # print(data.hour)
        return 'day'
    if data.hour in [19, 20, 21, 22, 23]:
        # print(data.hour)
        return 'evening'

# df_data = df_data.drop('tmp', axis=1)
# df_data['time_of_day'] = df_data['starttime'].apply(get_daytime)
df_data['time_of_day'].describe()
df_data.info()
df_data['time_of_day'] = df_data['time_of_day'].astype('category')
df_data.info()

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
0          0
1          0
2          0
3          0
4          0
          ..
299995    19
299996    19
299997    19
299998    19
299999    19
Name: starttime, Length: 300000, dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  datetime64[ns]
 1   stoptime                 300000 non-null  datetime64[ns]
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station id           299831 non-null  float64
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  gender                   300000 non-null  int64
 11  age                      300000 non-null  int64
 12  trip duration            300000 non-null  timedelta64[ns]
 13  weekend                  300000 non-null  int64
 14  time_of_day              300000 non-null  object
dtypes: datetime64[ns](2), float64(5), int64(4), object(3), timedelta64[ns](1)
memory usage: 34.3+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  datetime64[ns]
 1   stoptime                 300000 non-null  datetime64[ns]
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station id           299831 non-null  float64
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  gender                   300000 non-null  int64
 11  age                      300000 non-null  int64
 12  trip duration            300000 non-null  timedelta64[ns]
 13  weekend                  300000 non-null  int64
 14  time_of_day              300000 non-null  object
dtypes: datetime64[ns](2), float64(5), int64(4), object(3), timedelta64[ns](1)
memory usage: 34.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  datetime64[ns]
 1   stoptime                 300000 non-null  datetime64[ns]
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station id           299831 non-null  float64
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  gender                   300000 non-null  int64
 11  age                      300000 non-null  int64
 12  trip duration            300000 non-null  timedelta64[ns]
 13  weekend                  300000 non-null  int64
 14  time_of_day              300000 non-null  category
dtypes: category(1), datetime64[ns](2), float64(5), int64(4), object(2), timedelta64[ns](1)
memory usage: 32.3+ MB

In [249]:
round(df_data[df_data['time_of_day'] == 'day'].shape[0] / df_data[df_data['time_of_day'] == 'night'].shape[0])

9

In [ ]:
# v2

def get_time_of_day(time):
    if 0 <= time <= 6:
        return 'night'
    elif 6 < time <= 12:
        return 'morning'
    elif 12 < time <= 18:
        return 'day'
    elif 18 < time <= 23:
        return 'evening'
    else:
        return 'else'
data['time_of_day'] = data['starttime'].dt.hour.apply(get_time_of_day)
a = data[data['time_of_day'] == 'day'].shape[0]
b = data[data['time_of_day'] == 'night'].shape[0]
print(round(a / b))